/* Header */
.hero .navbar {
    box-shadow: none;
}

.hero .logo {
    filter: brightness(0) invert(1);
}

.hero .btn-nav {
    color: rgb(255, 255, 255);
}

.hero .btn-login {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.hero {
    width: 100vw;
    min-height: 600px;
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: auto;
    margin-top: 40px;
}

.hero h1 {
    text-align: center;
    font-size: 3rem;
    /* font-weight: 700; */
}

.hero .section {
    font-size: 2rem;
    margin: auto;
    margin-top: 50px;
    padding: 0px 20px;
}

.hero p {
    font-size: 1rem;
}

.search-input {
    gap: 0px;
    margin: 0;
    padding: 0;
}

.search-input input,
.search-input select {
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: 200px;
}

.search-input select {
    width: fit-content;
}
